.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: chartreuse;

}

.center-section{
  flex-grow: 1;
  text-align: center;
}

.feedback-button{
  background-color: black ;
  border: 1px solid #298029;
  color:#298029;
  border-radius:5px;
  padding: 8px 16px;
  cursor: pointer;
}

.search-bar{
  border:1px solid #ccc;
  border-radius:5px;
  padding:8px;
  width:300px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
