.feedbackButton{

    --button-bg-color:black;
    --button-text-color:green;
    font-family: "Poppins", sans-serif;
    color: var(--button-text-color);
    background-color: var(--button-bg-color);
    align-items: center;
    border-radius: 12px;
    border: 1px solid #121212;
    padding: 10px 16px;
    cursor:pointer;
}

.feedbackButton :hover{
    cursor: pointer;

}